PORT=3001
FRONTEND_URL=http://localhost:5173
DATABASE_URL="postgresql://postgres:Frontend_123@localhost:5432/staff-cv-generator?schema=public"
JWT_SECRET=youaresavehere
JWT_REFRESH_SECRET=youaresavewithrefreshtoken
NODE_ENV=development
